/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: url('https://i.pinimg.com/originals/c0/10/a8/c010a8891870b1af71cf1c3f20ef5503.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    z-index: 2;
  }
  
  .celebration-text h1 {
    font-size: 4em;
    animation: textAnimation 3s ease-in-out infinite alternate;
  }
  
  .celebration-text p {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
    animation: textAnimation 5s ease-in-out infinite alternate;
  }
  
  .countdown {
    margin-top: 50px;
  }
  
  #timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2em;
  }
  
  .time {
    background-color: pink;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes textAnimation {
    0% {
      color: #ff4d4d;
    }
    50% {
      color: #4dff88;
    }
    100% {
      color: #ffbf00;
    }
  }
  